<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Air Quality & GHG Emissions</title>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<div id="header-text">
    <h1><strong id="top-title"> Pennsylvania's Air Quality and GHG Emissions  </strong></h1>
    <p id="slogan"> Explore, Discover, and Take Action! </p>
</div>
<body>
    <div class="nav_bar">
        <ul>
            <li><a href="/" >Home</a></li>
            <li><a href="/background/" >Background</a></li>
            <li><a href="/action/" id="onlink">Take-Action</a></li>
            <li><a href="/about/">About</a></li>
        </ul>
    </div>
    <div class="main_container">
        <p> Impacts and local resources and how one can take action, maybe Global Actions that are taking place, and sites/resources to learn more </p>
    </div>
        <!-- scripts -->
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://d3js.org/d3.v6.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="{{url_for('static', filename='js/app.js')}}"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
          integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
          crossorigin="anonymous"></script>
          <script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-base.min.js"></script>

</body>
</html>  
